body {
    background-color: darkgreen;
    font-family: 'Righteous', cursive;
}

.game-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-game-instructions, .text-about-game, .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-gi, .container-ag {
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
}

#button-playnow {
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    letter-spacing: 2px;
}

.title-about-game, .title-game-instructions {
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.main-logo {
    width: 100%;
}
.img-logo {
    width: 50%;
    padding: 20px;
}

.box-aboutgame {
    display: flex;
    justify-content: center;
}

.textgame {
    width: 75%
}

.box-select-mode {
    width: 100%;
    display: flex;
    justify-content: center;
}

.select-mode {
    width: 75%;
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select-mode h2 {
    width: 100%;
    text-align: center;
}

.boy-img, .girl-img, .robot-img {
    max-width: 50px;
}

.mode1vs1, .mode1vscpu {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 20px;
    transition: .4s ease-in-out;
}

.mode1vs1:hover, .mode1vscpu:hover {
    cursor: pointer;
    border-color: black;
    background-color: blanchedalmond;
}

.mode-text {
    margin-left:10px;
    margin-right: 10px;
}

.mode-options {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}